@font-face {
  font-family: 'Raleway';
  src: url('/src/assets/Raleway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Raleway', sans-serif;
}

@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';

.icon-large {
  font-size: 1.75em;
  margin-right: 1rem; 
}

.list-group-item {
  border: none; /* Removes border if desired, add 'border' class if border needed */
  margin-bottom: 10px; /* Adds space between items */
  cursor: default; /* Removes the pointer cursor */
}

.fixed-top-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
}