{{ define "main" }}
{{ partial "profile.html" . }}
<div id="list-page">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $page := . }} <!-- Save the page context -->
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <section class="item">
          <div class="post-header">
            {{ with .Params.images }}
            <div class="thumbnail">
              <a href="{{ $page.RelPermalink }}"> <!-- Use $page explicitly -->
                <img src="{{ index . 0 | relURL }}" alt="Thumbnail for {{ $title }}">
              </a>
            </div>
            {{ else }}
            <div class="thumbnail">
              <a href="{{ $page.RelPermalink }}"> <!-- Use $page explicitly -->
                <img src="/path/to/default-thumbnail.jpg" alt="Default Thumbnail for {{ $title }}">
              </a>
            </div>
            {{ end }}
            <div class="post-details">
              <h1 class="title"><a href="{{ $page.RelPermalink }}">{{ $title }}</a></h1>
              <div class="date">
                  <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>
              </div>
            </div>
          </div>
          {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
              <div class="summary">{{ $summary | plainify | htmlUnescape }}</div>
          {{ end }}
        </section>
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasPrev }}
              <span class="prev">
                  <a href="{{ $paginator.Prev.URL }}">
                      <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
                  </a>
              </span>
          {{ end }}
          {{ if $paginator.HasNext }}
              <span class="next">
                  <a href="{{ $paginator.Next.URL }}">
                      {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
                  </a>
              </span>
          {{ end }}
        </div>
    {{ end }}
</div>

{{ end }}
