<nav class="navigation">
	{{ if not .IsHome }}
		<a class="h-card" rel="me" href="http://aligned.at/"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	<a href="{{ "/posts" | relURL }}">All Posts</a>
	<a href="{{ "/tags" | relURL }}">{{ with .Site.Params.tags }}{{ . }}{{ else }}{{ i18n "tags" }}{{ end }}</a>
	<a href="{{ "/about" | relURL }}">{{ with .Site.Params.about }}{{ . }}{{ else }}{{ i18n "about" }}{{ end }}</a>
	{{ if .Site.Params.enableRSS }}
	  <a class="button" href="{{ .Site.RSSLink }}">RSS</a>
	{{ end }}
  <form id="subscription-form" class="subscription-form">
    <input type="email" name="email" required placeholder="Enter your email">
    <button type="submit">Subscribe</button>
  </form>
	<p id="status-message" style="display: none;"></p>
</nav>
<script>
	const form = document.getElementById('subscription-form');
	const statusMessage = document.getElementById('status-message');

	async function checkSubscriptionStatus(email) {
			const url = "https://quacker.eu/subscribe/1"; // Replace with your subscription endpoint
			const response = await fetch(`${url}?email=${encodeURIComponent(email)}`);
			if (response.ok) {
					const data = await response.json();
					return data.is_subscribed;
			}
			return false;
	}

	form.addEventListener('submit', async (e) => {
			e.preventDefault();

			const emailInput = form.querySelector('input[name="email"]');
			const button = form.querySelector('button');

			const email = emailInput.value;
			const url = "https://quacker.eu/subscribe/1"; // Replace with your subscription endpoint
			const data = { email };

			// Check if the user is already subscribed
			const isSubscribed = await checkSubscriptionStatus(email);
			if (isSubscribed) {
					form.style.display = 'none';
					statusMessage.style.display = 'block';
					statusMessage.textContent = 'Already subscribed!';
					return;
			}

			button.textContent = 'Please wait...';
			button.disabled = true;
			emailInput.disabled = true;

			try {
					const response = await fetch(url, {
							method: 'POST',
							headers: { 'Content-Type': 'application/json' },
							body: JSON.stringify(data),
					});

					if (response.ok) {
							form.style.display = 'none';
							statusMessage.style.display = 'block';
							statusMessage.textContent = 'Subscribed successfully.';
					} else {
							throw new Error('Subscription failed.');
					}
			} catch (error) {
					form.style.display = 'none';
					statusMessage.style.display = 'block';
					statusMessage.textContent = 'Something went wrong.';
			}
	});
</script>