<nav class="navigation">
	{{ if not .IsHome }}
		<a class="h-card" rel="me" href="http://aligned.at/"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	<a href="{{ "/posts" | relURL }}">All Posts</a>
	<a href="{{ "/tags" | relURL }}">{{ with .Site.Params.tags }}{{ . }}{{ else }}{{ i18n "tags" }}{{ end }}</a>
	<a href="{{ "/about" | relURL }}">{{ with .Site.Params.about }}{{ . }}{{ else }}{{ i18n "about" }}{{ end }}</a>
	{{ if .Site.Params.enableRSS }}
	  <a class="button" href="{{ .Site.RSSLink }}">RSS</a>
	{{ end }}
  <form id="subscription-form" class="subscription-form">
    <input type="email" name="email" required placeholder="Enter your email">
    <button type="submit">Subscribe</button>
  </form>
</nav>
<script>
  const form = document.getElementById("subscription-form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const emailInput = form.querySelector('input[name="email"]');
    const button = form.querySelector("button");
    const originalButtonText = button.textContent;
    button.textContent = "Please wait...";
    button.disabled = true;
    emailInput.disabled = true;
    const email = emailInput.value;
    const url = "https://quacker.eu/subscribe/1";
    const data = { email };
    try {
      const response = await fetch(url, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
      });
      if (response.ok) {
        form.innerHTML = "<p>Subscribed!</p>";
      } else {
        form.innerHTML = "<p>Something went wrong.</p>";
      }
    } catch (error) {
      console.error("Error:", error);
      form.innerHTML = "<p>Something went wrong.</p>";
    }
  });
</script>